body {
  background-color: #27aae1;
  font-family: "Finger Paint", cursive;
  color: white;
  text-align: center;
}

@keyframes welcomeChange {
  from {
    font-size: 10px;
  }
  to {
    font-size: 7vw;
  }
}

@keyframes buttonChange {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: auto;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes highlightRow {
  from {
    background-color: #27aae1;
    box-shadow: 0;
    color: white;
    transform: translateY(0px);
    transform: translateX(0px);
  }

  to {
    background-color: rgba(255, 255, 255, 0.911);
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #27aae1;
    transform: translateX(15px);
  }
}

@keyframes highlightColumn {
  from {
    background-color: #27aae1;
    box-shadow: 0;
    color: white;
    transform: translateY(0px);
    transform: translateX(0px);
  }

  to {
    background-color: rgba(255, 255, 255, 0.911);
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #27aae1;
    transform: translateY(-15px);
  }
}

.begin {
  gap: 20px;
  justify-content: center;
  margin-top: auto;
  font-size: 7vw;
  padding-bottom: 10px;
  animation-name: welcomeChange;
  animation-duration: 2s;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 0.8s;
}

.startbutton {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  animation-name: buttonChange;
  animation-duration: 3s;
}

.startbutton:hover {
  background-color: #ffffff;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/*Game mode choice*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.637); /* Black w/ opacity */
  border: 3px solid #fff;
}

.choiceButton {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  margin: 0;
}

.choice-container {
  margin: 5% auto; /* 15% from the top and centered */

  width: 400px;
  height: 400px;
  border-radius: 18px;
  color: white;
  font-size: 70px;
}

.choice {
  transition-duration: 0.4s;
  width: 400px;
  height: 400px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.choiceOne:hover,
.choiceTwo:hover {
  transform: translateX(-40px);
  width: 450px;
  height: 450px;
}

.hidden {
  display: none;
}

.animated #static,
.static #animated {
  display: none;
}

.animated #animated,
.static #static {
  display: inline;
}

p {
  margin-top: 0;
}

/*main game*/
.score {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  font-size: 8vw;
}

.info {
  font-size: 5vw;
}

/*gameboard*/
table {
  font-size: 6vw;
  margin-left: auto;
  margin-right: auto;
}

.col {
  border: 1px solid rgb(255, 255, 255);
  height: 10vw;
  width: 10vw;
  border-radius: 14px;
  padding: 2px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.cell:hover {
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.column-win,
.row-win {
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
  color: #27aae1;
  transform: translateY(-15px);
  animation: highlightColumn;
  animation-duration: 1s;
}

.row-win {
  transform: translateX(15px);
  animation: highlightRow;
  animation-duration: 1s;
}

/*retry button*/
.retry {
  padding-top: 8px;
  background-color: transparent;
  border: 0;
  width: 48px;
  height: 48px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.icon {
  transition: all 0.4s ease-in-out;
}

.retry:hover .icon {
  transform: rotate(360deg) scale(1.2);
}
